/web-app/WEB-INF

/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
/*.iml
/.idea

/prodDb.*

*Db.properties
*Db.script

/stacktrace.log
/test/reports
/logs

/*.war

/*.zip

/plugins
/web-app/plugins
/web-app/WEB-INF/classes

/target

*.iws
